<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Sekolah dan Seragam</title>
    </head>
    <body>
        <h1> Sekolah </h1>
        <ul>
            {{ range .Sekolah}}
            <li>{{ .Nama }} - {{ .Daerah }} - {{ .Tingkat }}</li>
            {{ end }}
        </ul>
        <h1> Seragam </h1>
        <ul>
            {{ range .Seragam}}
            <li>{{ .Warna }} - {{ .Jenis }} - {{ .Level }}</li>
            {{ end }}
        </ul>
    </body>
</html>