<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Toktok</title>
    </head>
    <body>
        <h1> Composite data </h1>
        <ul>
            {{$x := .Nama}}
            {{$y := .Daerah}}
            {{$z := .Tingkat}}
            <li>{{ $x }} - {{ $y }} - {{ $z }}</li>
        </ul>
    </body>
</html>