<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mountain</title>
</head>
    <body>
        <h1>This is a mountain</h1>
        <img src="/mountain.jpg" alt="a picture of mountain">
    </body>
</html>