<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Hello Variable</title>
    </head>
    <body>
        {{ $note := .}}
        <h1>Today's quote: {{ $note }} </h1>
    </body>
</html>