<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Functions</title>
    </head>
    <body>
        
        {{ index .Number 1 }}
        {{ index .Number 3 }}
        {{ index .ChildName }}

        <!-- this is a go template comment -->
        {{/* (index . 3) */}}
    </body>
</html>